# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Translations
*.mo
*.pot

*.log

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

test.py
install.bat
